.boxx{
    background-color: rgb(147, 150, 143);
    height: 100px;
}
.mh{
    height: 300px;
    background-color: rgb(39, 221, 241);
    margin-top: 40px;
}


.g-3{
    background-color: rgb(150, 161, 171);
}